/*
media query for 400-800px screens
*/
@media only screen and (max-width:1280px) {
       @import url('https://fonts.googleapis.com/css2?family=Overpass&display=swap');
       @import url(./variable.css);
       *{
           margin: auto;
           padding: 0;
           box-sizing: border-box;
       }
       body{
       background: var(--Very-Dark-Blue);
       }
       .container{
              margin-top: 15px;
           position: relative;
       }
       
       .first{
       background-color: var(--Dark-Blue);
       width: 350px;
       color: white;
       font-family: 'Overpass', sans-serif;
       border: 2px solid var(--Dark-Blue);
       border-radius: 20px;
       height: 400px;
       
       display: block;
       
       }
       .words{
           margin-top: 28px;
           margin-left: 25px;
       }
       .words p{
           margin-top: 20px;
           font-size: var(--p-size);
           color: var(--Medium-Grey);
           word-spacing: 1px;
       }
       .star{
           margin-top: 8px;
           margin-left: 6px;
           padding: 5px;
           width: 70%;
       }
       .image{
           margin-top: 10px;
           margin-left: 25px;
           border-radius: 50px;
           background-color: var(--Dark-Blue);
           width: 13%;
           box-shadow: 10px 20px 50px var(--Very-Dark-Blue) ;
           height: 13%;
       }
       .ratings{
           display: flex;
           justify-content: space-evenly;
           margin-top: 10px;  
           width: 90%;
       }
       #btn{
           margin-top: 10px;
           height: 50px;
           width: 50px;
           border-radius: 100px;
           border: none;
           margin-left: 8px;
           font-size: var(--p-size);
       font-family: 'Overpass', sans-serif;
       background-color:  var(--Dark-Blue);
       color: var(--Light-Grey);
       box-shadow: 1px 1px 5px var(--Very-Dark-Blue) ;
       cursor: pointer;
       }
       .sub{
           
           font-size: var(--p-size);
       font-family: 'Overpass', sans-serif;
       text-align: center;
       width: 340px;
       border-radius: 23px;
       height: 6vh;
       background-color: var(--Orange);
       border: none;
       color: var(--white);
       cursor: pointer;
       padding: 5px;
       }
       .submit{
           margin-top: 30px;
           text-align: center;
       }
       #btn:hover{
           background-color: var(--Light-Grey);
           color: var(--white);
       }
       .sub:hover{
           background-color: white;
           color: var(--Orange);
       }
       #secondDiv{
           background-color: var(--Dark-Blue);
           width: 355px;
       color: white;
       font-family: 'Overpass', sans-serif;
       border: 2px solid var(--Dark-Blue);
       border-radius: 20px;
       height: 400px;
       display: flex;
       flex-direction: column;
       justify-content: center;
       display: none;
       text-align: center;
       }
       .display{
           border-radius: 23px;
           width: 250px;
           border: 1px solid var(--Light-Grey);
           height: 6vh;
           color: var(--Orange);
           text-align: center;
           padding: 20px;
           font-size: var(--p-size);
           margin-top: 30px;
       
       }
       .secondWords{
           margin-top: 30px;
           text-align: center;
       }
       .secondWords p{
           margin-top: 15px;
           font-size: var(--p-size);
           color: var(--Medium-Grey);
           word-spacing: 1px;
       }
       #active-btn{
           margin-top: 10px;
           height: 50px;
           width: 50px;
           border-radius: 100px;
           border: none;
           margin-left: 8px;
           font-size: var(--p-size);
       font-family: 'Overpass', sans-serif;
       background-color:  var(--Orange);
       color: var(--white);
       box-shadow: 1px 1px 5px var(--Very-Dark-Blue) ;
       cursor: pointer;
       }  
       
       .logo{
        margin-top: 10px;   
       }
}